<div class="container" style="background-image: url('/assets/homepage pic1.jpg');">
    <header>
      <h1 style="font-size: 46px; color: black;"> <b>Welcome to Cargo Management System</b></h1>
      <nav>
        <button [routerLink]="['/customer']" routerLinkActive="active">Customer</button>
        <button routerLink="/manager">Manager</button>
        <button routerLink="/agent">Agent</button>
      </nav>
    </header>
    <main>
      <p style="font-size: 24px; color: black;">This system helps you manage cargo orders efficiently.</p>
      <p style="font-size: 24px; color: black;">Choose your role above to get started.</p>
    </main>
</div>
  